# Python
*.pyc
*.pyo
/build/
/dist/
*.egg-info

# Mac OS
*.DS_Store

# IDE
/.idea/

.mypy_cache/
.cache/
.tox/
.pytest_cache/
.coverage
/coverage.xml
htmlcov/
.ipynb_checkpoints
docs/_build/
docs/_autosummary/
__pycache__/
_build/
